  nav.navbar{
  background-color: #009688;
  }
  nav.side-navbar{
      background-color: #222d32;
  }
  .content-inner{
      background-color: #E5E5E5;
  }
  nav.side-navbar ul a {
  color:#fff
  }
  .btn-blue {
      border-color: #009688;
    background: transparent;
    color: #009688;
    border-radius: 15px;
}
  .btn-blue:hover,
.btn-blue:focus {
    border-color: #009688;
    background-color: #009688 !important;
    color: #fff;
    cursor: pointer;
   
}
  .btn-outline-success {
       color: #2196F3;
    background-color: transparent;
    background-image: none;
    border-color: #2196F3;
     border-radius: 15px;
}
.btn-outline-success:hover {
    color: #fff;
    background-color: #2196F3;
    border-color: #2196F3;
}
outline-success:focus {
    box-shadow: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

/**É¾³ý°´Å¥**/
.btn-sm-del {
    background-color: transparent;
    color: #e65251;
    cursor: pointer;
    border: 1px solid #e65251;
    border-radius: 10px;
}
.btn-sm-del:hover{
    background-color: #e65251;
    color:#fff;
    border-color: #e65251;
}
.btn-sm-update{
    background-color: transparent;
    color: #308ee0;
    border:1px solid rgba(48, 142, 224, 0.2);
     border-radius: 10px;
    cursor: pointer;
}
.btn-sm-update:hover{
    color: #308ee0;
    background-color: rgba(48, 142, 224, 0.2);
    border-color: rgba(48, 142, 224, 0.2);
}

.btn-outline-secondary {
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border-color: #e5e5e5;
    border-radius: 15px;
}
.btn-outline-secondary:hover{
	     color: #cccccc;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

.btn-primary {
        color: #308ee0;
    background-color: transparent;
    background-image: none;
    border-color: #308ee0;
}
.btn-primary:hover{
	   color: #fff;
    background-color: #308ee0;
    border-color: #308ee0;
}
  
  .btn-secondary {
    background-color: transparent;
    background-image: none;
       border-color: #c7d1d5;
    color: #c7d1d5;
}  
 .btn-secondary:hover{
     border-color: #c7d1d5;
    color: #c7d1d5;
    background-color: #f3f5f6;
 }
 
 nav.side-navbar .list-unstyled li a{
     padding: 12px 5px 12px 15px;
    display: block;
    position: relative;
    border-left: 3px solid transparent;
    }
     nav.side-navbar .list-unstyled li.active a,
     nav.side-navbar .list-unstyled li a:hover,nav.side-navbar ul li.active a:hover{
      color: #fff;
    background: #0d1214;
    border-color: #009688 !important;
}
nav.side-navbar.shrinked .list-unstyled li a,nav.side-navbar.shrinked .list-unstyled li a i{
    color: #fff;
}
nav.navbar .dropdown-menu a i{
	background: none;
	color:#333333;
	font-size: 16px
}