<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/Util.js}"></script>
<script type="text/javascript" th:src="@{/js/constant.js}"></script>

</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend>异常信息</legend>
</fieldset>  
<div style="padding: 20px; background-color: #F2F2F2;">
	<div class="layui-row layui-col-space15">
	 <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-header" th:text="${error.code}"></div>
        <div class="layui-card-body" th:text="${error.msg}">
        </div>
      </div>
    </div>
	</div>
</div>
<script>

</script>
</body>
</html>